/*configuração global*/
html, body{
    height: 100%;
}

body{
    background-color: #f8fafc;
}

/*configurações principais*/
header{
    background-color: #BFE7E9;
}

main{
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.376);
}

/*configurações secundárias*/

/*configuração do cadastro*/
.form-container{
    max-width: 500px;
    padding: 1rem;
}

/*configuração do botão*/
.botao{
    background: none;
    border: none;
    padding: 0;
    margin-left: 4px;
    font-size: 2.3rem;
    cursor: pointer;
    color: #ffffff;
}
.botao:hover{
    opacity: 0.8;
}

/*configuração da imagem*/
img{
    position: relative;
    object-fit: contain;
    height: 5rem;
    top: 9px;
}